---
import type { ProjectData } from "../data/types";

interface Props extends ProjectData {}

const data = Astro.props;
---

<div>
  <header>
    <img src={data.image} alt={data.title} />
    <div>
      <div>
        <h1 class="no">{data.title}</h1>
        <span>{data.date}</span>
      </div>
      <span>{data.author}</span>
    </div>
  </header>
  <p>{data.description}</p>
</div>
